@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Oswald:wght@300&family=Open+Sans:400,700&family=Merriweather:400,700&family=Lato&display=swap');

body {
  background-color: #042e12;
}

#content {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

h1, h2, h3, h4 {
  font-family: 'Im Fell French Canon SC', serif;
  font-size: 1.75em;
  line-height: 1.1em;
  text-align: center;
  color: #EBCC6F;
  padding: 10px;
  background-color: #042e12;
}
.pagetitle {
  font-size: 2.23em;
  margin: 10px 50px 10px 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  line-height: 1.25em;
  padding: 10px;
  color: #000000;
}

nav {
  padding: 1em;
  background-color: #042e12;
}

nav a {
 padding: .75em .75em;
  color: #EBCC6F;
 line-height: 1.5em; 
  text-decoration: none;
}

nav li {
  font-family: 'Merriweather', serif;
font-size: 1.05em;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  list-style: none;
}

nav a:hover {
   background-color: #EBCC6F;
  color: #a83c32;
   box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}


img {
  max-width: 100%;
}

.logo {
  width: 175px;
  position: relative;
}

.banner {
  width: 100%;
  height: 450px;
}



header {
  display: grid;
 grid-template-columns: 125px auto;
align-items: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr max-content repeat(3, max-content);
  align-items: center;
  justify-content: center;
  line-height: 3.5em;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.home-headline-1 {
  grid-column: 3/6;
  grid-row: 1/1;
    margin: 10px 25px 0 15px;
}

.home-paragraph-1{
  grid-column: 3/6;
  grid-row: 2/3;
    text-align: justify;
 margin: 10px 25px 0 15px;
}

.home-left-img1{
  width: 400px;
  height: 300px;
  grid-column: 1/3;
  grid-row: 1/3;
 box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 25px 10px 15px 15px;
    justify-content: center;
     align-items: center;
}


.home-left-img2 {
   width: 400px;
  height: 300px;
  grid-column: 1/3;
  grid-row: 4/6;
 box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 15px 10px 15px 15px;
    justify-content: center;
     align-items: center;
}

.home-headline-2{
  grid-column: 3/6;
  grid-row: 4/4;
margin: 0 25px 0 15px;
}

.home-paragraph-2{
  grid-column: 3/6;
  grid-row: 5/6;
  text-align: justify;
  margin: 10px 25px 0 15px;
}



/*design page */

.top-paragraph {
  text-align: center;
  font-size: 1.35em;
}

.designs-right-img {
   width: 400px;
  height: 300px;
  grid-column: 4/6;
  grid-row: 1/2;
 box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 15px 10px 15px 15px;
    justify-content: center;
     align-items: center;
}

.designs-headline-1 {
   grid-column: 1/4;
  grid-row: 1/2;
  padding: 15px;
 box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 15px 10px 15px 15px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}


